apps/poverenik/src/main/resources/wsdl/Izvestaj.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://izvestaji"
                  xmlns:tns="http://izvestaji"
                  name="IzvestajService">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://izvestaji" schemaLocation="../xsd/izvestaji.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getPodaciRequest">
    </wsdl:message>
    <wsdl:message name="getPodaciResponse">
        <wsdl:part name="response" type="tns:Tbody" />
    </wsdl:message>

    <wsdl:message name="podnesiIzvestajRequest">
        <wsdl:part name="izvestajRef" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="podnesiIzvestajResponse">
        <wsdl:part name="response" type="xsd:string" />
    </wsdl:message>

    <wsdl:portType name="IzvestajServicePortType">
        <wsdl:operation name="getPodaci">
            <wsdl:input message="tns:getPodaciRequest" />
            <wsdl:output message="tns:getPodaciResponse" />
        </wsdl:operation>
        <wsdl:operation name="podnesiIzvestaj">
            <wsdl:input message="tns:podnesiIzvestajRequest" />
            <wsdl:output message="tns:podnesiIzvestajResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="IzvestajServiceSoapBinding" type="tns:IzvestajServicePortType">
        <soap:binding style="rpc"  transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getPodaci">
            <soap:operation soapAction="http://izvestaji/ws/getPodaci" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="podnesiIzvestaj">
            <soap:operation soapAction="http://izvestaji/ws/podnesiIzvestaj" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IzvestajService">
        <wsdl:port name="IzvestajServiceSoapBinding" binding="tns:IzvestajServiceSoapBinding">
            <soap:address location="http://localhost:8085/izvestajPort" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>