apps/organ_vlasti/src/main/resources/wsdl/Izvestaj.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://izvestaji"
                  xmlns:tns="http://izvestaji"
                  xmlns:tns1="http://parametars"
                  name="IzvestajService">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://izvestaji" schemaLocation="../xsd/izvestaji.xsd"/>
            <xsd:import namespace="http://parametars" schemaLocation="../xsd/parametarMap.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="getIzvestajRequest">
        <wsdl:part name="id" type="xsd:string" />
    </wsdl:message>
    <wsdl:message name="getIzvestajResponse">
        <wsdl:part name="izvestaj" type="tns:Tbody" />
    </wsdl:message>

    <wsdl:message name="getRefList">
        <wsdl:part name="parametars" type="tns1:parametarMap" />
    </wsdl:message>
    <wsdl:message name="getRefListResponse">
        <wsdl:part name="refs" type="tns1:refIdList" />
    </wsdl:message>

    <wsdl:portType name="IzvestajServicePortType">
        <wsdl:operation name="getIzvestajById">
            <wsdl:input message="tns:getIzvestajRequest" />
            <wsdl:output message="tns:getIzvestajResponse" />
        </wsdl:operation>

        <wsdl:operation name="getRefs">
            <wsdl:input message="tns:getRefList" />
            <wsdl:output message="tns:getRefListResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="IzvestajServiceSoapBinding" type="tns:IzvestajServicePortType">
        <soap:binding style="rpc"  transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getIzvestajById">
            <soap:operation soapAction="http://izvestaji/ws/getIzvestajById" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getRefs">
            <soap:operation soapAction="http://izvestaji/ws/getRefs" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IzvestajService">
        <wsdl:port name="IzvestajServiceSoapBinding" binding="tns:IzvestajServiceSoapBinding">
            <soap:address location="http://localhost:8090/izvestajPort" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>